<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914191054663-ef950sl9jh7su6ejsiehe0oog0kcflcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914191054663-ef950sl9jh7su6ejsiehe0oog0kcflcp</string>
	<key>API_KEY</key>
	<string>AIzaSyA4x4nYWdPFqAhmo38zkQObw7LO_nD-CEs</string>
	<key>GCM_SENDER_ID</key>
	<string>914191054663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>subspace-1de63</string>
	<key>STORAGE_BUCKET</key>
	<string>subspace-1de63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914191054663:ios:7206a07c09e42ebddb3e62</string>
</dict>
</plist>